# AEM Cloud Environment
# Copy this file to .env and fill in your actual URLs

# AEM Author instance
AEM_AUTHOR_HOST=https://author-p######-e#######.adobeaemcloud.com

# AEM Publish instance
AEM_PUBLISH_HOST=https://publish-p######-e#######.adobeaemcloud.com
